opencv-contrib-python-headless>=4.7.0.72
PyQt5==5.15.7
PyQtWebEngine==5.15.7
natsort==8.1.0
termcolor==1.1.0
onnx>=1.13.1
onnxruntime-gpu>=1.16.0
qimage2ndarray==1.10.0
lapx==0.5.5
six==1.17.0
numpy<=1.26.4
pillow>=7.1.2
openai
PyYAML
tqdm
scipy
shapely
psutil
pyclipper
tokenizers
jsonlines
json_repair
importlib_metadata
markdown
requests